$default-font: "roboto-example", sans-serif
$accent: orange

@mixin transition
	-webkit-transition: 0.4s ease
	-moz-transition: 0.4s ease
	-ms-transition: 0.4s ease
	-o-transition: 0.4s ease
	transition: 0.4s ease